# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environments
venv/
.env/

# Ignore data files
dcm_samples/
ONMD QR Code/
*.dcm

# Ignore environment variables
.env
.env.*

# Ignore processed files
processed_dcm/*
processed_qr/*

# Ignore logged text files (used for debugging) 
text_logs/*